<h1 class="ml-5 mt-5 mb-5 text-center">Welcome to Attack on Titan API</h1>

<%= form_tag api_v1_characters_path, method: :get, class: "ml-5 mr-5 mb-5 d-flex justify-content-center align-items-center col-6 mx-auto" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a character by her/his first name or last name"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="d-flex flex-column align-items-center">
  <h2>Character</h2>
  <p>There is a total of <%= @characters.count %> characters sorted by id.</p>
  <h3>Character schema</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id</td>
              <td>integer</td>
              <td>The id of the character</td>
            </tr>
            <tr>
              <td>first_name</td>
              <td>string</td>
              <td>The first name of the character</td>
            </tr>
            <tr>
              <td>last_name</td>
              <td>string</td>
              <td>The last name of the character</td>
            </tr>
            <tr>
              <td>species</td>
              <td>string</td>
              <td>The species of the character ('Intelligent Titan', 'Human' or 'Unknown')</td>
            </tr>
            <tr>
              <td>age</td>
              <td>integer</td>
              <td>The age of the character</td>
            </tr>
            <tr>
              <td>height</td>
              <td>integer</td>
              <td>The height of the character when transformed into a titan</td>
            </tr>
            <tr>
              <td>residence</td>
              <td>string</td>
              <td>The residence of the character</td>
            </tr>
            <tr>
              <td>status</td>
              <td>string</td>
              <td>The status of the character ('Alive', 'Deceased' or 'Unknown')</td>
            </tr>
            <tr>
              <td>alias</td>
              <td>string</td>
              <td>The alias of the character</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h3>Get all characters</h3>
  <p>You can access the list of characters by using the   <code>/api/v1/characters</code> endpoint.</p>
  <code>GET https://api-attack-on-titan.herokuapp.com/api/v1/characters</code>
  <pre>
    [
      {
        "id": 1,
        "first_name": "Armin",
        "last_name": "Arlelt",
        "species": "Human, Intelligent Titan",
        "age": 19,
        "height": 60,
        "residence": "Wall Rose",
        "status": "Alive",
        "alias": "Colossal Titan"
        },
        {
        "id": 2,
        "first_name": "Mikasa",
        "last_name": "Ackermann",
        "species": "Human",
        "age": 19,
        "height": null,
        "residence": "Wall Rose",
        "status": "Alive",
        "alias": null
        },
        // ...
    ]
  </pre>

  <h3 class="ml-5">Get a single character</h3>
  <p>You can get a single character by adding the <code>id</code> as a parameter: <code>/api/v1/characters/1</code></p>
  <code>GET https://api-attack-on-titan.herokuapp.com/api/v1/characters/1</code>
  <pre>
    [
      {
        "id": 1,
        "first_name": "Armin",
        "last_name": "Arlelt",
        "species": "Human, Intelligent Titan",
        "age": 19,
        "height": 60,
        "residence": "Wall Rose",
        "status": "Alive",
        "alias": "Colossal Titan"
        }
    ]
  </pre>

  <h2>Get all <%= @titans.count %> titans</h2>
  <p>You can access the list of <%= @titans.count %> titans by using the   <code>/api/v1/titans</code> endpoint.</p>
  <pre>
    [
      {
        "id": 1,
        "name": "Founding Titan",
        "other_names": "Coordinate" (座標 Zahyō), Royal family's power (王家の力 Ōke no chikara), "Scream" (叫び Sakebi), "God" (神 Kami)",
        "abilities": "Titan behavorial control, Memory manipulation of Subjects of Ymir",
        "current_inheritor": "Eren Jaeger",
        "former_inheritors": "Grisha Jaeger, Frieda Reiss, Uri Reiss, Rod and Uri's father, Karl Fritz, Ymir Fritz",
        "allegiance": "Eldia"
        },
        {
        "id": 2,
        "name": "Armored Titan",
        "other_names": "Armor" (鎧 Yoroi), "Marley's Shield" (マーレの盾 Māre no tate)",
        "abilities": "Armored skin, Hardening",
        "current_inheritor": "Reiner Braun",
        "former_inheritors": null,
        "allegiance": "Marley"
        },
        // ...
    ]
  </pre>

  <h2 class="ml-5">Get a single titan</h2>
  <p>You can get a single titan by adding the <code>id</code> as a parameter: <code>/api/v1/titans/1</code></p>
  <pre>
    [
      {
        "id": 1,
        "name": "Founding Titan",
        "other_names": "Coordinate" (座標 Zahyō), Royal family's power (王家の力 Ōke no chikara), "Scream" (叫び Sakebi), "God" (神 Kami)",
        "abilities": "Titan behavorial control, Memory manipulation of Subjects of Ymir",
        "current_inheritor": "Eren Jaeger",
        "former_inheritors": "Grisha Jaeger, Frieda Reiss, Uri Reiss, Rod and Uri's father, Karl Fritz, Ymir Fritz",
        "allegiance": "Eldia"
        }
    ]
  </pre>
</div>
