<h1 class="ml-5 mt-5 mb-5 text-center">Welcome to API Attack on Titan</h1>

<%= form_tag api_v1_characters_path, method: :get, class: "ml-5 mr-5 mb-5 d-flex justify-content-center align-items-center col-6 mx-auto" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a character by her/his first name or last name"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h2 class="ml-5">All <%= @characters.count %> characters</h2>
<% @characters.each do |character| %>
  <%= link_to "#{character.first_name}", api_v1_character_path(character), class:"ml-5" %><br>
<% end %>